/*body*/

body{
  margin: 0;
  padding: 0;
  font-family: georgia sans-serif;
  width: 100%;
  background: #f1faee;
}

/*header*/

header{
  /*max-width: 1350px;*/
  background: #1d3557;
  padding: 0.1em;
}

header a{
  color: #f1faee;
  text-decoration: none;
}

header a:hover{
  color: #e63946;
}

header li{
  list-style: none;
  display: inline-block;
  text-transform: uppercase;
  margin: 1em;
  float: left;
}

header figure{
  display: flex;
}

header img{
  width: 50px;
  margin: auto 20%;
}

.back{
  background: #337ca0;
  height: 200px;
}
