/*body*/

body{
  margin: 0;
  padding: 0;
  font-family: georgia;
  background: #f1faee;
  color: #1d3557;
}

/*header*/

header{
  border-bottom: 3px #1d3557 solid;
  border-radius: 20px;
}

header span{
  color: #e63946;
  border-bottom: 2px #e63946 solid;
}

header a{
  color: #e63946;
  text-decoration: none;
  letter-spacing: 1px;
}

header a:hover{
  color: #1d3557;
}


header li{
  list-style: none;
  display: inline-block;
  text-transform: uppercase;
  margin: 1em;
  float: left;
}

header nav{
  display: inline-block;
  width: 40%;
}

header figure{
  display: inline-block;
  text-align: center;
  margin: 1em 4.5em;
}

header img{
  width: 50%;
}

header input[type="text"]{
  text-indent: 10px;
  width: 20%;
  float: right;
  margin: 2em 4em;
  box-shadow: 1px 1px 1px #e63946;
}

/*section*/

section{
  margin: 0 5em;
}

.index{
  border: #f1faee solid;
  height: 500px;
  text-align: center;
  margin: 2em 2em 4em 2em;
}

 .index img{
   width: 200px;
   margin: 0;
 }

.index ul{
  text-align: left;
  margin-top: 3em;
}

section a{
  text-decoration: none;
}

.index span, h1{
  color: #e63946;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  font-size: 25px;
}

.index span:hover{
  text-decoration: underline;
}

.index li{
  text-align: left;
  padding: 0.5em;
  list-style: none;
}

 .product1, .product2, .product3{
  margin: 2em;
  padding: 1em;
  height: 350px;
  width: 20%;
  display: inline-block;
  border: 1px #f1faee solid;
  border-radius: 10%;
}

.products img{
  width: 200px;
  margin: auto 3em auto auto;
  position: relative;
}

.vente{
  border-bottom: 1px #e63946 solid;
}

.lastvente{
  border-bottom: 3px #e63946 solid;
  margin: 2em auto;
}

h2{
  font-size: 18px;
}

.vente button, .lastvente button, .lastventelast button{
  background: #388697;
  width: 15%;
  text-align: center;
  color: #f1faee;
  border: #f1faee;
  padding: 0.3em;
  text-decoration: none;
  display: inline-block;
  margin: auto auto 2em auto;
}

article span{
  font-size: 20px;
}

.vente button:hover, .lastvente button:hover, .lastventelast button:hover{
  background-color: #e63946;
}

#subtitle{
  text-align: center;
}

.contact, .about{
  margin: 2em 20em;
  text-align: justify;
}

.contact a{
  color: #1d3557;
  text-decoration: underline;
}

.contact a:hover{
  text-decoration: underline;
  color: #e63946;
}

h3, input[name="send"]{
  text-align: center;
  background: #1d3557;
  color: #f1faee;
  border: none;
}

input[name="send"]{
  width: 20%;
  height: 25px;
}

/*footer*/

footer{
  text-align: center;
  border-top: 3px #1d3557 solid;
  border-radius: 20px;
}
