/*body*/

body{
  margin: 0;
  padding: 0;
  font-family: georgia sans-serif;
}

/*header*/

header{
  width: 100%;
  max-width: 1400px;
  height: auto;
  background: #1d3557;
  padding: 0.1em;
}

header a{
  color: #f1faee;
  text-decoration: none;
}

header a:hover{
  color: #e63946;
}

header li{
  list-style: none;
  display: inline-block;
  text-transform: uppercase;
  margin: 1em;
  float: left;
}

header figure{
  display: flex;
}

header img{
  width: 50px;
  margin: auto 20%;
}
